.my_fabric {
    display: flex;
    align-items: center;
    justify-content: center;
    touch-action: manipulation;
}

.my_fabric:active {
    background-color: rgba(0,0,0,0);
}

/*canvas {
    touch-action: manipulation;
}

.upper-canvas {
    touch-action: manipulation;
}*/