.toolbar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    height: 40px;
}

.main_tools{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    height: 40px;
}

.custom_tools {
    display: flex;
    align-items: right;
    justify-content: right;
}

.btn_emoji {
    position: relative;
}

.emoji_box {
    position: absolute;
    z-index: 1;
}


