.my_fabric {
    display: flex;
    align-items: center;
    justify-content: center;
    touch-action: manipulation;
}

canvas {
    touch-action: manipulation;
}

.upper-canvas {
    touch-action: manipulation;
}