.emoji_icon {
    background-color: rgba(255, 255, 255, 0);
    border: none; 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 6px;
    /*border: 1px solid red;*/
    transition: background-color 0.2s;
}

.emoji_box {
    position: absolute;
    display: none;
    z-index: 2;
}

.btn_emoji {
    position: relative;
}

.btn_emoji:hover {
    background-color: rgb(243, 243, 243);
    .emoji_box {
        display:block;
    }
}
