* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ion-icon {
    font-size: 30px;
    cursor: pointer;
}

@import url('https://fonts.googleapis.com/css2?family=Lemon&family=Montserrat&family=Nabla&family=Roboto&family=Roboto+Mono&display=swap');