* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh; 
    background-color: gray;
}

ion-icon {
    font-size: 30px;
    cursor: pointer;
}

/* Se rolagem mobile não funcionar acionar essa opção, juntamente com a do arquivo css do MyFabric*/
canvas {
    touch-action: manipulation;
}

@import url('https://fonts.googleapis.com/css2?family=Lemon&family=Montserrat&family=Nabla&family=Roboto&family=Roboto+Mono&display=swap');