.image_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 6px;
    /*border: 1px solid red;*/
    transition: background-color 0.2s;
}

.image_icon:hover {
    background-color: rgb(243, 243, 243);
}